.App {
  text-align: center;
  background-color: #1a1c22;
  width: 100vw;
  height: 100vh;
  color: hsla(225, 14%, 100%, 1);
  padding: 2rem 4rem;
}

.content {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
